.container {
    display: grid; 
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 250px 700px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.side-bar {
    background-color: #0284c7;
    grid-row: 1/4;
    padding: 20px;  
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type:none;
    gap: 16px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
}
.dashboard {
    color: white;
    font-size: 22px;
    font-weight: 700;
    height: 70px;
    margin-left: 22px;
}
.links {
    height: 250px;
}
.header {
    background-color: white;
    height: 120px;
    border-bottom: 2px solid white;
    box-shadow: #cbd5e1;
    width: 100%;
    
}
.search-bar {
    background-color: #cbd5e1;
    border-radius: 8px;
    border: 1px solid white;
    width: 400px;
    height: 20px;

}
.upper {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.icon {
    background-color: #fcd34d;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    margin-left: 16px;
}
.name {
    font-size: 16px;
    font-weight: 600;
}
.lower {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.new, .upload, .share{
    background-color: #0284c7;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    width: 60px;
    height: 24px;

}

.buttons {
    margin-right: 10px;
}
.info {
    height: 60px;
    width:350px ;
    padding: 10px;
    margin-left: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.Name2 {
    font-size: 12px;
}
.name3 {
    font-size: 18px;
    font-weight: 600;
}

.content {
    background-color:#cbd5e1;
    display: grid;

}