
.container {
    display: grid; 
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 250px 700px;
    grid-template-rows: 150px 1fr;
    font-family: Arial, Helvetica, sans-serif;
    
}
.side-bar {
    background-color: #0284c7;
    grid-row: 1/4;
    padding: 20px;  
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type:none;
    gap: 16px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
}
.dashboard {
    color: white;
    font-size: 22px;
    font-weight: 700;
    height: 70px;
    margin-left: 22px;
}
.links {
    height: 250px;
}
.header {
    background-color: white;
    height: 120px;
    border-bottom: 2px solid white;
    box-shadow: 2px 4px 4px rgb(214, 214, 214);
    width: 100%;
}
    

.search-bar {
    background-color: #cbd5e1;
    border-radius: 8px;
    border: 1px solid white;
    width: 400px;
    height: 20px;

}
.upper {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.icon {
    background-color: #fcd34d;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    margin-left: 16px;
}
.name {
    font-size: 16px;
    font-weight: 600;
}
.lower {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.new, .upload, .share{
    background-color: #0284c7;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    width: 60px;
    height: 24px;

}

.buttons {
    margin-right: 10px;
    justify-content: space-between;
    display: flex;
    gap: 12px;
}
.info {
    height: 60px;
    width:350px ;
    padding: 10px;
    margin-left: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.Name2 {
    font-size: 12px;
}
.name3 {
    font-size: 18px;
    font-weight: 600;
}
.content {
    padding: 60px 30px;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-rows: 1fr 1fr;
    gap: 60px 20px;
}
.left{
    display: flex;
    flex-direction: row;
}
.right {
    display: flex;
    flex-direction: row;
}
.article 
{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}
.article>h3, .announcement>h3, .trending>h3 {
    font-weight: 500;
    position: absolute;
    font-size: 20px;
    top:-36px;
}
.card {
    background-color: white;
    width: 250px;
    border-left: 8px solid #f0b429;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgb(214, 214, 214);
    padding: 28px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.icons {
    display: flex;
    justify-content: end;
    gap: 20px;
}
.card p{
    color: gray;
    margin-top: 4px;
}
.announcement{
    background-color: white;
    grid-area:1/2/2/3;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgb(214, 214, 214);
    display: grid;
    grid-auto-rows: 90px;
    align-content: center;
    padding: 20px;
    position: relative;
}
.news {
    padding: 12px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.news:last-child{
    border-bottom: none;
}
.announcement p {
    color: gray;
    font-size: 12px;
}
.trending {
    background-color: white;
    grid-area: 2/2/3/3;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgb(214, 214, 214);
    padding: 18px;
    display: grid;
    grid-auto-rows: 60px;
    align-items: center;
    position: relative;
}
.trending .person {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 18px 18px;
   
}
.person>svg{
    grid-area: 1/1/3/2;
}
.person :last-child{
    color: gray;
    font-size: 16px;
}
svg {
    display: inline-block;
    position: relative;
    width: 24px;
}